[2021-04-01 19:42] ssarrafan opened #1 "Ambassador program - develop selection process"
This issue is to develop selection process for the ambassador program. Please attach links developed items to this issue.

[2021-04-01 19:45] ssarrafan opened #2 "Ambassador program - develop timeline for the program"
This issue is to develop a timeline for the ambassador program. Please attach links developed timeline to this issue.

[2021-04-01 19:45] ssarrafan opened #3 "Ambassador program - develop distribution plan"
This issue is to develop a distribution plan for the ambassador program. Please attach links to developed items in this issue.

[2021-04-01 19:46] ssarrafan opened #4 "Ambassador program - develop program announcement"
This issue is to develop program announcement for the ambassador program. Please attach links to developed items to this issue.

[2021-04-01 19:47] ssarrafan opened #5 "Ambassador program - design application process"
This issue is to design application process for the ambassador program. Please attach links to developed items to this issue.

[2021-04-01 19:53] ssarrafan opened #6 "Develop NMDC roadmap for the rest of 2021"
This issue is to track the roadmap and refine and update it and share with the team during this sprint with the goal of having a revised version by the end of April.

[2021-04-01 19:56] ssarrafan commented on #6
Link to current draft:  https://trello.com/b/ee0oeVXz/nmdc-roadmap

[2021-04-01 21:32] ssarrafan opened #7 "SFA - Define criteria and prioritization for dataset ingest"
Meeting Purpose: Review outstanding questions and make decisions on what data we can support, what other information we need from the SFAs to make our decisions, etc.

[2021-04-01 21:38] ssarrafan opened #8 "SFA - Define collaborator workflow steps"
Note: SFA Collaborator Workflow steps may be different depending on where their data is housed

Please link to steps in this issue

[2021-04-01 21:46] ssarrafan opened #9 "SFA - Identify potential new sample environments not supported by NMDC schema"
Identify potential new sample environments that are not currently supported by the NMDC schema

[2021-04-01 21:47] ssarrafan opened #10 "SFA - Build out SFA matrix to support links"
Build out SFA matrix to support links to docs, notes, next steps, etc.  Link to this issue if possible.

[Matrix](https://docs.google.com/spreadsheets/d/1uS6jseJpBNc-XJwx0XMKAshn_3omLSMIsjn9ru8Kam8/edit#gid=0)

[2021-04-01 22:25] ssarrafan opened #11 "SFA - Define process for supporting new sample environments in NMDC schema"
Note: Changes to attributes/fields in schema should be submitted via GitHub

Add links to new process to this issue.

[2021-04-01 22:26] ssarrafan opened #12 "SFA - Develop metadata templates for new sample environments"
Please add links to the templates in this issue.

[2021-04-01 22:33] ssarrafan opened #13 "SFA- Define expected outcomes of initiation calls"
Define outcomes for the initiation calls
Link to this issue if possible

[2021-04-01 22:35] ssarrafan opened #14 "SFA - Define attendees of initiation calls"
Identify who should be in attendance at initiation calls - “context and content” - Pajau
Content - data types, size, sources
  - JGI rep: David
  - EMSL rep: Montana, Mary L.
Context - linking across projects, branding, etc
  - EMSL rep: David Millard
  - Aim 4 rep

[2021-04-01 22:36] ssarrafan opened #15 "SFA - Schedule initiation calls"
- [x] Update template for call notes (example [here](https://docs.google.com/document/d/1lAml7Ju35aVtn71ibXwfNs6b71_mLNBTW62-No493bo/edit))

- [ ] Schedule calls in the next 2-4 weeks
- [ ] Summarize discussions, update Collaborator status, identify action items, and next steps

[2021-04-01 22:41] ssarrafan opened #16 "NMDC GitHub licenses"
Issue to make sure GitHub licenses are done per Kjiersten

[2021-04-01 23:33] ssarrafan opened #17 "Bioscales - Follow up on availability of data from Oregon"
Stan was going to find out when the data from Oregon would be available because the goal is to use this data and not sample data.

[2021-04-01 23:34] ssarrafan commented on #17
I invited Stan to GitHub and will re-assign this to him once he joins.

[2021-04-01 23:35] ssarrafan opened #18 "Bioscales - Figure out viability of processing JGI metabolomics data through EMSL pipelines"
Kjiersten will facilitate and help figure this out with Yuri and Trent.

[2021-04-01 23:38] ssarrafan opened #19 "Bioscales - Create NMDC JSON file focusing on bio sample class and fields"
Stan is working on creating an NMDC JSON file for the Bioscales project. Add more details and links here.

[2021-04-02 19:18] pvangay commented on #9
updating issues to better reflect work

[2021-04-02 19:18] #9 closed

[2021-04-02 19:19] pvangay opened #20 "SFA - Prioritize datasets based on initiation discussions and NMDC criteria"

[2021-04-02 19:21] pvangay commented on #11
Reassigned to David H.

@dehays - enlisting your help if/when we need to support new environments

[2021-04-02 19:24] pvangay opened #21 "SFA - Define process for ingesting metadata housed at JGI and EMSL"

[2021-04-02 19:24] pvangay commented on #20
assigned milestone

[2021-04-02 21:01] ssarrafan commented on #19
I will re-assign to Stan once he joins NMDC GitHub.  @wdduncan I hope it's ok to leave you on this ticket for now.

[2021-04-05 20:41] ssarrafan opened #22 "Develop slide deck and figure out who can present at for the DOE Quarterly Update scheduled for 4/29/21"
This issue is to prepare for the DOE Quarterly Update scheduled for 4/29/21.

[2021-04-05 20:42] ssarrafan opened #23 "Develop agenda and slide deck for All-Hands meeting scheduled for 5/3/21"
This issue is to prepare for the All-Hands meeting scheduled for 5/3/21.

[2021-04-05 20:43] ssarrafan opened #24 "Develop agenda, slide deck, charge questions, and additional materials for the Scientific Advisory Board scheduled for 5/5/21"
This issue is to prepare for the SAB meeting scheduled for 5/5/21

[2021-04-06 00:02] mslarae13 commented on #12
Prioritization are Sediment and plant, correct?

[2021-04-06 15:43] ssarrafan commented on #12
@mslarae13 I checked with @emileyfadrosh and the priority is soil, plant and then sediment in that order.  I hope that helps.  Thank you for all your help.

[2021-04-06 16:28] dwinston commented on #16
nmdc-metadata repo is done: [LICENSE.md](https://github.com/microbiomedata/nmdc-metadata/blob/d66efa860a68897ee973f65388fbdaf3b3e4c984/LICENSE.md). 🎉

[2021-04-06 17:32] kfagnan commented on #16
We need to get an "official" license from Berkeley Lab's Intellectual
Property Office. I'm doing the paperwork, but it will take a couple of
weeks, possibly longer depending on DOE to get the real license.

On Tue, Apr 6, 2021 at 9:28 AM Donny Winston ***@***.***>
wrote:

[2021-04-09 21:13] ssarrafan commented on #18
@corilo any update on this?  Kjiersten said to check with you and see if you've had your meeting with Trent yet.

[2021-04-09 21:38] pvangay opened #25 "Ambassador program - pilot announcement materials"

[2021-04-09 21:38] pvangay opened #26 "Ambassador program - launch program!"

[2021-04-09 21:42] pvangay commented on #1
waiting for Kelly Johnson to help with DEI criteria matrix

[2021-04-09 21:42] #14 closed

[2021-04-09 21:42] #7 closed

[2021-04-09 21:42] #13 closed

[2021-04-09 21:42] #10 closed

[2021-04-10 00:40] corilo commented on #18
@kfagnan @ssarrafan Yes, they have not yet collect any data for the SFA project. Trent had agreed to provide the raw data for us to process using the NMDC workflow. Instrument (LC-MS) and analysis type are compatible with our the current workflow development and it should not be a problem.

[2021-04-12 00:54] kfagnan commented on #18
@yuri, that’s great, thank you!

On Fri, Apr 9, 2021 at 17:40 Yuri Corilo ***@***.***> wrote:

[2021-04-12 16:35] #18 closed

[2021-04-16 00:54] mslarae13 commented on #21
We will meet with SFA PIs to determine the projects & what data they have available.
David & I will find the data at JGI/EMSL.
Request metadata from the PIs to link JGI and EMSL where matching IDs aren't available.

Similar process to the FICUS, but hopefully smoother!

 https://docs.google.com/document/d/1qgMR47RVeQT01uu6fWyhaVMOOiT5HYo6A39Mr0vLrog/edit#

[2021-04-16 16:36] StantonMartin commented on #19
Initiial data is pushed to
https://fair.ornl.gov/NMDC/NMDC.json

[2021-04-16 16:36] #19 closed

[2021-04-16 16:38] StantonMartin commented on #17
Assignment complete, closing

[2021-04-16 16:38] #17 closed

[2021-04-16 21:43] ssarrafan commented on #17
@StantonMartin thank you for closing this ticket.  Does this mean that the Oregon data is available and you're able to use it?

[2021-04-20 22:14] ssarrafan commented on #26
@pvangay can I move this to the done column?

[2021-04-22 00:21] ssarrafan opened #27 "Outline draft NMDC Identifiers documentation"
Initial decisions have been made around some NMDC identifiers but a more detailed documentation covering all aspects is required.

[2021-04-22 00:22] ssarrafan commented on #27
It's not good practice to add a new issue this late in the sprint.  We'll try not to repeat this bad habit.

[2021-04-22 02:30] mslarae13 commented on #27
Updates to this: https://microbiomedata.github.io/nmdc-metadata/identifiers/
Correct?
Or is there a google doc to work off?

With only 1.5 weeks left, I'm sure this will land in the next sprint TBH.

[2021-04-22 15:07] dehays commented on #27
@mslarae13 I imagine the result will be used to update the existing Identifer section of the NMDC metadata documentation.  I am working from a gDoc: [NMDC Identifiers](https://docs.google.com/document/d/1ZpMbF28bnZBc4qId7Js5I_U_XP8QKr-PHromoBgonPg/edit#heading=h.dkk2mzcyg9wl) with the thinking that that is an easier form in for comments and feedback.

[2021-04-27 20:44] ssarrafan commented on #24
This is completed. @emileyfadrosh sent an email with the agenda and slides to the SAB today.

[2021-04-27 20:44] #24 closed

[2021-04-27 23:06] ssarrafan opened #28 "FICUS Data/PI highlights in newsletter"
Pajau has some content but needs to get more from PIs.  Goal is to have this content ready for the June newsletter.

[2021-04-27 23:09] ssarrafan opened #29 "Assess feasibility of including Kelly Wrighton datasets - user stories"
This issue is to track the user stories associated with including the datasets from Kelly Wrighton

[2021-04-27 23:10] ssarrafan opened #30 "Assess feasibility of including Kelly Wrighton datasets - tech"
This issue is to document the technology process and details for including Kelly Wrighton datasets into NMDC

[2021-04-27 23:14] ssarrafan opened #31 "Documentation of metrics for NMDC and plan for keeping metrics"
There was a brainstorm in December on metrics. It's documented in Miro at https://miro.com/app/board/o9J_kmCBC8s=/

This issue is to use the info from the brainstorming session and create metrics and a plan for tracking for NMDC.

[2021-04-27 23:21] ssarrafan opened #32 "Present number of downloads for data contributors on portal to"
Relates to data presented on study pages.  Emiley has said this information can be publicly available.

Adding Elisha for details on where to present data and Jon to do the implementation.

[2021-04-27 23:24] ssarrafan opened #33 "Further develop engagement strategy plan"
Review and finalize engagement strategy plan.

[2021-04-27 23:26] ssarrafan opened #34 "Finish analysis of survey data"
Finish analyzing the survey data. Related to core use groups milestone.

[2021-04-28 05:25] mar-rudolph commented on #15
The majority of the calls will happen in the beginning of May, so this can be moved to the May Spring for completion.

[2021-04-28 16:37] ssarrafan commented on #6
Roadmap updated, Gantt view added.  Will need refinement and updates once Emiley and Kjiersten can review it more.

[2021-04-28 16:37] #6 closed

[2021-04-28 17:42] ssarrafan opened #35 "Finalize and document milestones for Edge"
Bin will document the milestones for Edge in May.

[2021-04-28 17:47] ssarrafan opened #36 "Scope out the next phase of partnership with NCBI re: training"
This is to scope out the next phase of NCBI partnership including links back to NMDC training materials, custom NMDC fields at NCBI, etc.

[2021-04-28 18:00] ssarrafan opened #37 "Website updates: LOS form; Fact Sheet & Media package"
Website updates by Emiley and Pajau

[2021-04-28 18:02] ssarrafan opened #38 "D&I strategy formalized for NMDC"

[2021-04-28 18:04] ssarrafan opened #39 "NMDC Data Management Best Practices"
Have high-level recommendations for researchers and guidance to funder for what the NMDC can provide

[2021-04-28 18:05] ssarrafan opened #40 "Formalize 6 month engagement & Sustainability Plan"

[2021-04-28 18:06] ssarrafan opened #41 "DMP Assessment for NSF & DOE"
Recommendations for NSF<> DOE MOU

[2021-04-28 22:01] emileyfadrosh commented on #23
Slides completed, updated agenda for calendar invites.

[2021-04-28 22:01] #23 closed

[2021-04-28 22:14] emileyfadrosh commented on #22
Completed and email sent to DOE!

[2021-04-28 22:14] #22 closed

[2021-05-03 23:11] ssarrafan commented on #15
@mar-rudolph are all the calls scheduled?  If so let's close this for the April sprint and we can add a new issue to have the first round of calls in May.  What do you think?

[2021-05-03 23:32] ssarrafan commented on #27
@dehays I believe the outline/draft is done.  Is it ok to close this issue?

[2021-05-03 23:33] ssarrafan commented on #12
@mslarae13 can this issue be closed?  Or should it be moved to the May sprint?

[2021-05-03 23:34] ssarrafan commented on #16
@kfagnan what's the status of the official license?  Should this be moved to the May sprint or is this done?

[2021-05-04 04:05] mslarae13 commented on #12
@ssarrafan
I think this issue can be closed. As I've developed the template (minus plants... it's close! just need a few more details).

Next step / new issue would be confirm template design  & gather feedback on usability

[2021-05-04 04:07] mslarae13 commented on #12
@ssarrafan  I'll close this ticket.. I dunno how to make a new one. Is it the same as "add a note to this column"?....

[2021-05-04 04:07] #12 closed

[2021-05-04 15:45] ssarrafan commented on #12
@mslarae13 To create a new issue you have to create a note and then convert it to an issue. I'll do it for you.  Thanks for closing this one.

[2021-05-04 17:08] mar-rudolph commented on #15
@ssarrafan Yes, they are! That sounds good to me.

[2021-05-04 17:34] #15 closed

[2021-05-04 17:35] ssarrafan commented on #15
Closing ticket per @mar-rudolph

[2021-05-04 17:38] ssarrafan opened #42 "SFA - Conduct initiation calls"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

[2021-05-04 18:10] pvangay opened #43 "Ambassador - prepare for selection"
Review applications and prepare program materials for review committee
- [x] Complete rubric
- [x] Complete reference form
- [x] Review applications for eligibility
- [x] Assign applications to selection committee
- [x] Prepare materials for selection committee

[2021-05-04 18:13] pvangay opened #44 "SFA - BFI SFA: Bacterial Fungal Interactions and Their Role in Soil Functioning"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

[2021-05-04 18:14] pvangay opened #45 "SFA - BCA: Biogeochemistry of Actinides"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

[2021-05-04 18:17] pvangay commented on #45
Met on 4/30/21. Mostly amplicon data at the moment. TBD metaT and metaG data coming later. Recommendation is to have them contact us again when they've generated other omic types.

[Preliminary Data](https://docs.google.com/spreadsheets/d/1yNr4VgnMSvh8_rv2hHRm_-DntWnDCHEo92iJKXVK504/edit#gid=0)
[Initiation Call Notes](url)

Next steps: Pajau to email with recommendation, provide NMDC sediment and

[2021-05-04 18:35] pvangay opened #46 "SFA - MP: Microbes Persist: Systems Biology of the Soil Microbiome"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

Adding for FYI: @mslarae13 @emileyfadrosh @corilo @SamuelPurvine @dehays @elishawc @mar-rudolph @kfagnan

[2021-05-04 18:36] pvangay opened #47 "SFA - SPRUCE: Spruce and Peatland Responses Under Changing Environments"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

Adding for FYI: @mslarae13 @emileyfadrosh @corilo @SamuelPurvine @dehays @elishawc @mar-rudolph @kfagnan

[2021-05-04 18:40] pvangay commented on #47
Expecting multi-omics data generated by both EMSL and JGI from their 2015-2016 dataset on Spaghnum peat moss. Sam and Montana are very familiar with this dataset already.

Next steps:
@mar-rudolph to follow up with Joel on his other dataset that he's ready to share (with Susannah Tringe)
@mar-rudolph to follow up with David Weston on his dataset that he might want to share
@SamuelPurvine @mslarae1

[2021-05-04 18:46] pvangay opened #48 "SFA - PCEF - Persistence Control of Engineered Functions in Complex Soil Microbiomes"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

[2021-05-04 18:48] pvangay commented on #48
This is a new SFA that was established in the last 6 months. Proposed during initiation call to follow up with the NMDC when they have data ready. Met with them jointly with the PNNL Soils SFA group.

[Link to docs](https://drive.google.com/drive/folders/1EdHpD67zipBEtHICLdkgJnnYHAoL90xK?usp=sharing)

[2021-05-04 18:49] pvangay opened #49 "SFA - PNNL Soils SFA"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

Adding for FYI: @mslarae13 @emileyfadrosh @corilo @SamuelPurvine @dehays @elishawc @mar-rudolph @kfagnan

[2021-05-04 18:53] pvangay commented on #49
Have multiple datasets with multiomic data available (as well as in the near future). Locations are primarily in PNNL's data hub, but there is possibility that some data is at NCBI or other community repos.

[link to notes and prelim data](https://drive.google.com/drive/folders/1vEi5Ai8iDJTYU1TYyp916r2z_GnnPWS7?usp=sharing)

Next steps:
@mslarae13 to work with Lindsey to identify public (or soon t

[2021-05-04 18:54] pvangay opened #50 "SFA - PMI: Plant-Microbe Interfaces"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

Adding for FYI: @mslarae13 @emileyfadrosh @corilo @SamuelPurvine @dehays @elishawc @mar-rudolph @kfagnan

[2021-05-04 18:57] pvangay opened #51 "SFA - SEED: Secure Ecosystem Engineering and Design"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

Adding for FYI: @mslarae13 @emileyfadrosh @corilo @SamuelPurvine @dehays @elishawc @mar-rudolph @kfagnan

[2021-05-04 18:58] pvangay opened #52 "SFA - TES: Terrestrial Ecosystem Science - Belowground Biogeochemistry"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

Adding for FYI: @mslarae13 @emileyfadrosh @corilo @SamuelPurvine @dehays @elishawc @mar-rudolph @kfagnan

[2021-05-04 18:58] pvangay opened #53 "SFA - WSF: Watershed Function"
SFA initiation calls were scheduled in April and this issue is for having the first set of calls and attaching any details or information related to them here.

Adding for FYI: @mslarae13 @emileyfadrosh @corilo @SamuelPurvine @dehays @elishawc @mar-rudolph @kfagnan

[2021-05-04 19:01] pvangay opened #54 "Review 3 FICUS datasets in the portal with PIs"
Meet with each PI group and review their data in the portal in detail. Specifically, make sure that their data looks correct. Identify metadata that should be exposed. And identify potential stories to include in the data highlights.

- [x] Wrighton
- [x] Stegen
- [x] Brodie

[2021-05-04 19:51] #1 closed

[2021-05-04 19:51] #2 closed

[2021-05-04 19:51] #3 closed

[2021-05-04 19:51] #4 closed

[2021-05-04 19:51] #5 closed

[2021-05-04 19:51] #25 closed

[2021-05-04 19:52] #26 closed

[2021-05-05 23:25] ssarrafan commented on #40
Duplicate. Merging with https://github.com/microbiomedata/NMDC_Planning/issues/33

[2021-05-05 23:25] #40 closed

[2021-05-05 23:48] ssarrafan commented on #27
Closing this per @dehays. He will make a new issue to continue work in May.

[2021-05-05 23:48] #27 closed

[2021-05-05 23:54] pvangay commented on #37
Also add DMP best practices that @mar-rudolph is working on

[2021-05-06 04:52] kfagnan commented on #16
still working on it!

On Mon, May 3, 2021 at 4:35 PM ssarrafan ***@***.***> wrote:

[2021-05-06 22:24] pvangay opened #55 "Survey - code deidentified free text"
After Pajau deidentifies the free text for each question, help aggregate and code the text.

[2021-05-06 22:28] pvangay opened #56 "Transcribe and code user interviews from 2020"
- [ ] Prepare with Pajau (review process, review script, review interviewees)
- [ ] Listen to recordings, transcribe, and fill out matrix
- [ ] Aggregate findings
- [ ] Code findings
- [ ] Pull out insights
- [ ] Present to the team

[2021-05-06 22:31] pvangay opened #57 "Generate usage analytic reports for Twitter, Data Portal, Website"
- [x] Pull Twitter analytics, and Google Analytics for the data portal and the website (monthly or quarterly)
- [x] Generate a graph with usage data from all 3 sources
- [x] Identify outreach activities (tweets, newsletters, program announcements, publications) associated with peaks

[2021-05-06 23:56] pvangay commented on #29
@mslarae13 and I met with Reb Daly from Kelly's group today to discuss linking their NMR data. They are interested but cited that this data is not in myEMSL and therefore not linkable. They also cited that it was difficult to sort out the data/sample/project relationships for this data. This issue is related to https://github.com/microbiomedata/NMDC_Planning/issues/30 and therefore is now a techni

[2021-05-06 23:58] pvangay commented on #30
FYI: @mslarae13 and I met with Reb Daly from Kelly's group today to discuss linking their NMR data. They are interested but cited that this data is not in myEMSL and therefore not linkable. They also cited that it was difficult to sort out the data/sample/project relationships for this data.

[2021-05-07 00:18] pvangay commented on #54
Met with Reb Daly, notes here: https://github.com/microbiomedata/nmdc-server/issues/375

[2021-05-07 00:24] pvangay commented on #52
Met today to review datasets. Currently one dataset with metaG and Amplicon data available in SRA. Expecting other multi-omic data at some point in the future but timeline is TBD. There is strong interest in linking between ESS DIVE and KBase - could be a good use case for that.

[Prelim Data](https://docs.google.com/spreadsheets/d/1H3b7rFMIUs77-SQ15BEWbnVPsunXzAh12bX8Zc0xmM4/edit)
[Call Notes](ht

[2021-05-07 00:28] pvangay commented on #53
Met today to review datasets (jointly with TES SFA). Currently one dataset with metaG data available at JGI, with amplicon on the way, and biogeochemical data at ESS DIVE.

Also working on compiling metagenome data across CSPs with samples from a single watershed - will continue discussions on timeline and availability.

[Prelim Data](https://docs.google.com/spreadsheets/d/168SPpP2wOz3-WEHhprcZJMj

[2021-05-07 00:31] pvangay commented on #51
Expecting metaG, metaT, metaP, amplicon, metaB data - timeline is at least 1 year from now. Recommendation is send plant-asso templates and ask them to follow up with us when ready.

[Call Notes](https://docs.google.com/document/d/1FgkAF5mPRVUykGiReKO9ClURVqHdcA-5ByxRpIawQYs/edit)

[2021-05-14 18:23] mslarae13 commented on #54
@pvangay
Should/can we make sub tasks for each of these with a list of the tasks that need completed?

Ex: Update Wrighton dataset
-Update metadata sheet
-Send to Reb for confirmation
-Remove irrelevant samples

ect...?

[2021-05-14 18:49] pvangay commented on #54
@mslarae13 I created a separate issue to capture the subtasks for each of the projects -- (see link above for Wrighton's). Figured they deserved their own issue (and assignee). Might end up spawning additional issues from that one but some decisions need to be made first. Hope this makes sense!

[2021-05-14 21:57] ssarrafan commented on #55
Moving to the June sprint per @pvangay during mid-sprint review

[2021-05-20 01:03] pvangay commented on #50
[Preliminary Data](https://docs.google.com/spreadsheets/d/1z7liwgEKzVaGKtxMKHpWQJiVzuOmSrhDdOKuMwNcEdU/edit#gid=0)
[Initiation call notes](https://docs.google.com/document/d/1zYyaFV-Cxw0oufsSkgUUwJ2gchhTj-zX2VD_3ChFkUI/edit)

30 metaG and amplicon data, host genome data

Mentioned during call that likely will not be prioritized at this time.

[2021-05-20 01:20] pvangay commented on #46
[Prelim Data](https://docs.google.com/spreadsheets/d/13cCR2iNy2l4ZgXr0z5Fk6MZUq_1ThZjSeQj9envBBHA/edit#gid=0)
[Initiation call notes](https://docs.google.com/document/d/1ay_bYnfqyhgFtqoS0f6izfm_28_aQMLSSB4SSYXJQCA/edit)

| Proposal ID| Data Type |
| - | - |
| CSP 502924 | LC-MS Metabolomics |
| EMSL 49804 | Metaproteomics |
| EMSL 49804 | FT-MS Natural Organic Matter |
| CSP 502924 | Metagenome |

[2021-05-20 01:28] pvangay commented on #47
@dehays do these [metaG JGI project IDs](https://docs.google.com/spreadsheets/d/14l6ibtWrA_B9Q14T--x7grSYa_wnNSZF/edit#gid=1323652308) look correct?

@SamuelPurvine @corilo they didn't provide us with any EMSL project or proposal IDs but wanted to make sure you weren't already familiar with their datasets.

Please let me know and I'll make sure to request this info in my followup email to them.

[2021-05-20 01:38] pvangay commented on #49
Available datasets [here](https://drive.google.com/file/d/1PtflPaKpcGex_b-6L2DFbjUJik5mQeSL/view?usp=sharing) - see 2nd tab

[2021-05-20 01:49] pvangay commented on #52
amplicon, metaG data are all currently in [SRA](https://www.ncbi.nlm.nih.gov/biosample?Db=biosample&DbFrom=bioproject&Cmd=Link&LinkName=bioproject_biosample&LinkReadableName=BioSample&ordinalpos=1&IdsFromResult=702962)

[2021-05-20 01:52] pvangay commented on #53
@dehays @mslarae13 the metaG data for this is available under JGI proposal id 505800 - please connect to see if there is missing metadata that you need.

[2021-05-20 20:08] elishawc commented on #32
We might need to discuss when, where these numbers might go. Default would to be integrate into the study landing pages (https://github.com/microbiomedata/nmdc-server/issues/342)

[2021-05-20 20:16] jbeezley commented on #32
My plan for this issue was to display the count per file next to the download button.  If there is some study or sample download count that needs to be displayed, we will need guidance on how that aggregation should be performed.  That likely will have to wait for the next sprint.

[2021-05-21 00:30] pvangay commented on #46
@jagadishcs Please review their data in GOLD (Proposal ID: CSP 502924) and work with @mslarae13 to make sure that we have all of the required sample metadata for NMDC. Thanks!

[2021-05-21 17:52] jbeezley commented on #32
I pushed a change that adds per-file download counts.
![download_count](https://user-images.githubusercontent.com/31890/119178015-615fe780-ba2a-11eb-9e0f-f86fee160a38.png)

This is what I had in mind for this sprint, but on closer reading the intent was more of a per-study aggregation.  I don't know if we want to close this or keep it open for refinement in a new sprint.  The t-shirt size for the

[2021-05-21 18:06] elishawc commented on #32
Let's close this and have it relate to study landing page design 2.0

On Fri, May 21, 2021 at 10:52 AM Jonathan Beezley ***@***.***>
wrote:

--
Elisha M Wood-Charlson, PhD (she/her)
KBase <https://kbase.us/> User Engagement Lead; @DOEKBase
<https://twitter.com/doekbase>
NMDC <http://microbiomedata.org/> Leadership Team; @microbiomedata
<https://twitter.com/MicrobiomeData>
Lawrence Berkeley Nationa

[2021-05-21 18:08] #32 closed

[2021-05-21 18:50] hubin-keio commented on #35
Acquire computing resources from the San Diego Supercomputing Center (SDSC) (Done)
-VM
-HPC
-Domain registration (edge-nmdc.org)
Test the SDSC computing environment for setting up EDGE NMDC:
-Check shared file system access between VM and HPC (May 17)
-Install back-end components (Java, database, Cromwell, etc.) (May 21)
-Deploy EDGE NMDC (May 27)
Test EDGE NMDC deployment
-Test individual workflo

[2021-05-25 17:55] mar-rudolph opened #58 "Create & Publish Data Management Plan Template in DMPTool"

[2021-05-27 16:01] mar-rudolph opened #59 "DMP Best Practices Training Materials for Ambassadors"

[2021-05-27 18:15] ssarrafan commented on #41
Moving to June sprint per @mar-rudolph

[2021-05-27 18:38] ssarrafan commented on #30
@kfagnan said she will discuss with Lee Ann at their next meeting and to move to June sprint.

[2021-05-27 21:32] pvangay commented on #52
SRA BioProject IDs for clarity:
PRJEB39497 (metaG)
PRJEB39495 (16S rRNA)
PRJEB39496 (fungal ITS)

[2021-05-27 22:17] ssarrafan commented on #31
Met with @emileyfadrosh and @mar-rudolph and we have a draft of metrics so I will close this GH issue with this link to the draft: https://docs.google.com/spreadsheets/d/1NEl8RuKffuvUm_Q4MLYcYMqSEDgkW15f2eyHttJfhlc/edit#gid=0

I'll create a new issue for June to get feedback from the team and iterate.

[2021-05-27 22:17] #31 closed

[2021-05-27 22:19] ssarrafan opened #60 "Metrics - Feedback and update"
This issue is to get feedback on the drafted metrics from the last sprint and to update/finalize the metrics.

See https://github.com/microbiomedata/NMDC_Planning/issues/31 for more info.

[2021-05-27 22:24] mar-rudolph commented on #38
Draft created, plan to have finalized version by June release [https://docs.google.com/document/d/1uHvQCP3q_1jgKeRDRnxIGRSoFzDSsCOdk9fTHZzm-5o/edit](url)

[2021-05-27 22:24] #38 closed

[2021-05-27 22:28] mar-rudolph commented on #39
DMP Best Practices draft complete, just needs one more review & to be put on the website [https://docs.google.com/document/d/1HZ6A0nO50Zo-Q14MUDnIfAIgzOkfq2iPEjJALW9XBAA/edit#](url)

[2021-05-27 22:28] #39 closed

[2021-05-27 22:30] ssarrafan commented on #37
Moving to June sprint per @pvangay

[2021-05-27 22:30] mar-rudolph opened #61 "Finalize DMP Best Practices & Post to Website"

[2021-05-27 22:33] mar-rudolph opened #62 "Finalize IDEA Strategy"

[2021-05-27 23:01] ssarrafan commented on #57
@Lebedeva-Sonya  says this issue is complete. She will add a link to the report here when she's back tomorrow and then we'll close this one.

[2021-05-27 23:02] ssarrafan commented on #56
@Lebedeva-Sonya said to move this to June sprint

[2021-05-27 23:21] ssarrafan opened #63 "SFA - PNNL Soils SFA 2"
Some datasets are already in SRA. Jagadish to work on pulling current metadata from SRA for PRJNA594403, PRJNA597444 into GOLD. Other datasets will be pushed to SRA - waiting on Lindsey to notify us.

[2021-05-27 23:24] ssarrafan commented on #63
Second part of #49
@pvangay

[2021-05-27 23:24] ssarrafan commented on #49
Next steps for June will be documented at https://github.com/microbiomedata/NMDC_Planning/issues/63

[2021-05-27 23:24] #49 closed

[2021-05-27 23:26] ssarrafan opened #64 "SFA - MP: Microbes Persist: Systems Biology of the Soil Microbiome 2"
Jagadish to pull metadata from GOLD (proposal IDs in Column H), curate as needed, then pull out data for Montana. Montana to review metadata and contact PIs as needed.

[2021-05-27 23:28] ssarrafan commented on #64
Second part of issue closed in May at https://github.com/microbiomedata/NMDC_Planning/issues/46

[2021-05-27 23:28] ssarrafan commented on #46
Second part of this work being documented at https://github.com/microbiomedata/NMDC_Planning/issues/64 for June

[2021-05-27 23:28] #46 closed

[2021-05-27 23:30] ssarrafan opened #65 "SFA - PMI: Plant-Microbe Interfaces"
Currently waiting on collaborator to get us proposal IDs. Once we have this info, Jagadish to pull metadata from GOLD, curate as needed, then pull out data for Montana. Montana to review metadata and contact PIs as needed.

[2021-05-27 23:31] ssarrafan commented on #65
Second part of this issue https://github.com/microbiomedata/NMDC_Planning/issues/50 , closed in May

[2021-05-27 23:31] ssarrafan commented on #50
Next step for this will be documented at https://github.com/microbiomedata/NMDC_Planning/issues/65 for June

[2021-05-27 23:31] #50 closed

[2021-05-27 23:33] ssarrafan opened #66 "SFA - SPRUCE: Spruce and Peatland Responses Under Changing Environments 2"
Waiting on collaborator. Team to review proposal IDs, data, and metadata once we have all of this info.

[2021-05-27 23:34] ssarrafan commented on #66
Continuation of issue https://github.com/microbiomedata/NMDC_Planning/issues/47 from May.  Assigning to @pvangay since we are hold waiting for information from collaborator.

[2021-05-27 23:35] ssarrafan commented on #47
Next steps for this will be documented at https://github.com/microbiomedata/NMDC_Planning/issues/66 in June

[2021-05-27 23:37] ssarrafan opened #67 "SFA - TES: Terrestrial Ecosystem Science - Belowground Biogeochemistry 2"
Some datasets are already in SRA. Jagadish to work on pulling current metadata from SRA for PRJEB39495 (16S rRNA), PRJEB39496 (fungal ITS), PRJEB39497 into GOLD. Jagadish to curate as needed, then pull out data for Montana. Montana to review metadata and contact PIs as needed.

[2021-05-27 23:38] ssarrafan commented on #67
Next step from issue worked on in May sprint at https://github.com/microbiomedata/NMDC_Planning/issues/52

[2021-05-27 23:38] ssarrafan commented on #52
Next step will be documented in https://github.com/microbiomedata/NMDC_Planning/issues/67 for June

[2021-05-27 23:38] #52 closed

[2021-05-27 23:39] ssarrafan opened #68 "SFA - WSF: Watershed Function 2"
Data is in IMG, proposal ID 505800, Jagadish to curate as needed, then pull out data for Montana. Montana to review metadata and contact PIs as needed.

[2021-05-27 23:40] ssarrafan commented on #68
Continuation of issue https://github.com/microbiomedata/NMDC_Planning/issues/53 from May

[2021-05-27 23:40] ssarrafan commented on #53
Next steps will be documented at https://github.com/microbiomedata/NMDC_Planning/issues/68 in June

[2021-05-27 23:40] #53 closed

[2021-05-27 23:45] ssarrafan commented on #48
Moving to June sprint per @pvangay

[2021-05-27 23:46] ssarrafan commented on #45
Moving to June sprint per @pvangay

[2021-05-27 23:47] ssarrafan commented on #51
Moving to June sprint per @pvangay

[2021-05-27 23:47] ssarrafan commented on #44
Moving to June sprint per @pvangay

[2021-05-27 23:48] #47 closed

[2021-05-27 23:51] ssarrafan commented on #16
@kfagnan should I move this to the June sprint?

[2021-05-28 02:17] kfagnan commented on #16
Yes

On Thu, May 27, 2021 at 16:51 ssarrafan ***@***.***> wrote:

[2021-05-28 06:45] Lebedeva-Sonya commented on #57
[https://create.piktochart.com/output/54623051-v3-nmdc-google-analytics-report-copy-copy]

[2021-05-28 06:46] #57 closed

[2021-05-28 17:08] ssarrafan commented on #36
Moving to the June sprint per @elishawc

[2021-05-28 22:45] ssarrafan opened #69 "Expanded training materials for workflows and portal navigation"

[2021-05-28 22:47] ssarrafan commented on #69
@pvangay I wanted to assign this to Julia but it doesn't appear that she has a GitHub account.  Should I invite her to GitHub?

[2021-05-28 22:49] ssarrafan opened #70 "NEON integration scope and project plan"
Prepare the scope and project plan for integration with NEON

[2021-05-28 22:51] ssarrafan commented on #70
@emileyfadrosh I assigned this to you but if it should be re-assigned please let me know or assign it to someone else and remove yourself.  Others noted in sprint planning working on this include @kfagnan @hubin-keio @mslarae13 @dehays

[2021-05-28 22:52] ssarrafan opened #71 "NAR Databased article request to editor (due 7/1/21)"
The NAR Databased article request to editor is due 7/1/21. Track and link to this GitHub issue.

[2021-05-28 22:52] pvangay commented on #69
@ssarrafan weird! yes, absolutely, please add her!

[2021-05-28 22:54] ssarrafan opened #72 "Quarterly release cycle of portal features aligned with newsletter"
Quarterly release cycle of portal features and alignment and planning with newsletter should be attached to this GitHub issue.

[2021-05-28 22:55] ssarrafan commented on #72
@kfagnan I assigned this to you per the notes. The other team members listed to work on this were @pvangay  and @meghandrake. Let me know if it should be reassigned to them or if I can help with this.

[2021-05-28 22:59] ssarrafan opened #73 "Select Ambassadors cohort, plan for kick-off and trainings"

[2021-05-28 23:11] ssarrafan opened #74 "Sample and identifier documents finalized"

[2021-05-28 23:12] ssarrafan commented on #74
@dehays and @dwinston I'm not sure if this is assigned properly or if it should be in another repository. Can you please check and make adjustments. Thank you

[2021-05-28 23:14] ssarrafan opened #75 "Validation of ENVO and GOLD terms"
Please move to more appropriate repository.

[2021-05-28 23:17] ssarrafan opened #76 "Data management plan - implementation"
Please move to appropriate repo and re-assign if appropriate.

[2021-05-28 23:21] ssarrafan opened #77 "Post-pilot scope of work brainstorming"
Brainstorming NMDC scope of work after pilot period, to be done with the leadership team

[2021-05-28 23:26] ssarrafan commented on #69
Ok I invited her so once she accepts we can re-assign this to her.

[2021-06-01 16:04] ssarrafan commented on #8
This should have been closed in April. Closing now.

[2021-06-01 16:04] #8 closed

[2021-06-01 16:16] #35 closed

[2021-06-02 01:35] ssarrafan opened #78 "Deploy EDGE NMDC"
Placeholder, actual issue is in GitLab.  Link to be added to this issue.

[2021-06-02 01:36] ssarrafan opened #79 "Test SDSC resources for setting up EDGE NMDC"
Placeholder, actual issue is in GitLab. Link to be added to this issue.

[2021-06-02 01:45] #21 closed

[2021-06-02 01:46] pvangay commented on #11
looks like the process is to let @dehays @mslarae13 know of next priority environments so that they can start working on the spreadsheets, and making sure the schema can support it. closing this for now.

[2021-06-02 01:46] #11 closed

[2021-06-02 01:51] pvangay commented on #43
ended with 56 applications - all have been assigned to reviewers and all materials have been shared.

[2021-06-02 01:51] #43 closed

[2021-06-02 01:52] pvangay commented on #54
Met with all three FICUS PIs and logged a bunch of issues for the June Sprint related to what we found.

[2021-06-02 01:52] #54 closed

[2021-06-02 01:54] pvangay commented on #73
6/1/21 - all materials have been given to reviewers. They have 2 weeks to review and we'll reconvene on 6/16 to make final selections.

[2021-06-02 01:57] pvangay commented on #69
Met with Julia today to discuss potential ideas for portal training. Plan is to build out a framework and work on a script for review, then record videos later in the month to account for feature updates.

[2021-06-02 01:59] elishawc commented on #36
training meetings with stakeholders on Jun 2 and 3

[2021-06-02 02:02] ssarrafan commented on #28
Moving to June sprint per @pvangay

[2021-06-02 18:17] mar-rudolph opened #80 "AAAS Section Application"

[2021-06-02 19:20] pvangay commented on #65
@jagadishcs we just received confirmation that this data is associated with JGI proposal 1429. Can you review the data in GOLD and make sure that the metadata is filled out properly? Please coordinate with @mslarae13  so that she can reach out to the collaborators if needed.

FYI @emileyfadrosh

[2021-06-02 19:29] pvangay commented on #66
@jagadishcs please confirm that the metadata for the datasets associated with JGI Proposal 1445 are complete and ready. Please coordinate with @mslarae13 when you're ready for her to review and reach out to PIs as needed.

@mslarae13 please review the metadata for EMSL Proposal 49279 and reach out to PIs as needed.

FYI @emileyfadrosh

[2021-06-02 20:28] mar-rudolph commented on #76
@ssarrafan this is already represented in 3 separate tickets, this is redundant

[2021-06-02 20:28] #76 closed

[2021-06-02 20:52] ssarrafan commented on #76
@mar-rudolph thank you for closing this.

[2021-06-03 17:55] ssarrafan commented on #67
Removing @mslarae13 and leaving assigned to @jagadishcs
@jagadishcs please re-assign to Montana when you are done with curation
Thank you

[2021-06-03 17:55] ssarrafan commented on #64
Removing @mslarae13 and leaving assigned to @jagadishcs
@jagadishcs please re-assign to Montana when you are done with curation
Thank you

[2021-06-03 17:59] ssarrafan commented on #33
@pvangay @emileyfadrosh @mar-rudolph can one of you own this issue so we can try to have issues assigned to one person at a time?

[2021-06-03 18:00] ssarrafan commented on #37
@pvangay and @emileyfadrosh can one of you own this issue so we can try to have only 1 person at a time on GitHub issues?

[2021-06-03 18:08] ssarrafan commented on #60
Removing Emiley and Set as Marisa has offered to own this issue.  Thank you @mar-rudolph

[2021-06-03 18:13] ssarrafan commented on #66
Removed Jagadish and leaving assigned to @mslarae13 per Slack chat

[2021-06-03 18:19] ssarrafan commented on #65
Leaving @jagadishcs as owner of this issue per Slack chat

Please check your box when you've complete your part of this issue
-[ ] Jagadish pulls GOLD
-[ ] Montana sends template to user
-[ ] Montana and Jagadish match GOLD and EMSL analyses to user samples

[2021-06-03 18:23] ssarrafan commented on #28
@pvangay @emileyfadrosh can one of you own this issue please so we can have one assignee per issue?

[2021-06-03 18:27] emileyfadrosh commented on #33
I'll own it, we will be setting up brainstorming series week after next.

[2021-06-03 18:28] ssarrafan commented on #63
Please check your box when you've complete your part of this issue
- [ ] Jagadish pulls GOLD
- [ ] Montana sends template to user
- [ ] Montana and Jagadish match GOLD and EMSL analyses to user samples

[2021-06-03 18:29] ssarrafan commented on #64
Please check your box when you've complete your part of this issue
- [ ] Jagadish pulls GOLD
- [ ] Montana sends template to user
- [ ] Montana and Jagadish match GOLD and EMSL analyses to user samples

[2021-06-03 18:29] ssarrafan commented on #67
Please check your box when you've complete your part of this issue
- [ ] Jagadish pulls GOLD
- [ ] Montana sends template to user
- [ ] Montana and Jagadish match GOLD and EMSL analyses to user samples

[2021-06-03 18:29] ssarrafan commented on #68
Please check your box when you've complete your part of this issue
- [ ] Jagadish pulls GOLD
- [ ] Montana sends template to user
- [ ] Montana and Jagadish match GOLD and EMSL analyses to user samples

[2021-06-03 18:31] ssarrafan commented on #66
Please check your box when you've complete your part of this issue
- [ ] Jagadish pulls GOLD
- [ ] Montana sends template to user
- [ ] Montana and Jagadish match GOLD and EMSL analyses to user samples

[2021-06-03 18:41] pvangay commented on #28
@ssarrafan yep! I just reassigned it to me only thanks!

[2021-06-03 18:42] pvangay commented on #37
@ssarrafan i just reassigned it to me - thx!

[2021-06-03 22:19] pvangay commented on #29
We still need to sort out the technical issues related to making their NMR data from the same proposal available (#30) but Kelly's group expressed interest in making another carbon shale dataset available in the NMDC (this is a larger proposal that took place after their first proposal, and they say it has more interesting data).

- [ ] @dehays can you look into JGI proposal #1931 and assess the d

[2021-06-04 16:14] turbomam commented on #75
@wdduncan tentatively suggesting moving to NMDC runtime

What terms require validation? IE from the MIxS triad?

[2021-06-04 16:27] dwinston commented on #75
Yes, that's OK.

[2021-06-04 21:11] cmungall commented on #75
@ssarrafan I'm not sure what kind of validation we are talking about. Is this the original ticket?
https://github.com/microbiomedata/nmdc-metadata/issues/309

or is this something different?

[2021-06-04 23:41] ssarrafan commented on #75
Hi @cmungall.  I added this issue based on a meeting with @emileyfadrosh. I just checked with her on this again and she said to go ahead and close this one since the work is happening in different GitHub issues.  Sorry if this caused any confusion.

[2021-06-04 23:41] #75 closed

[2021-06-07 15:07] turbomam commented on #75
@ssarrafan @emileyfadrosh Thanks for the clarification. If you can let me know what other issues supercede this one, I'll have a better idea of where I should be contributing vs where I might be replicating somebody else's work.

[2021-06-07 18:00] ssarrafan commented on #75
I just created this issue based on notes from meeting with Emiley.  I'll send you a note on Slack.

[2021-06-07 23:01] pvangay commented on #37
Draft LOS form [here](https://docs.google.com/document/d/1jb5m-DvZ4BVXAEbSY807aXBxG8cvYwh4KypZYW1Sxzk/edit#)

[2021-06-07 23:25] mar-rudolph commented on #80
Initial draft complete, waiting for feedback [https://docs.google.com/document/d/1d7l9amCXa-SfIA-nfV8kZIZEaixR8f-kXESeVoa0JUY/edit?ts=60b957a7](url)

[2021-06-09 00:11] jagadishcs commented on #46
@pvangay
Reviewed the biosamples of CSP 502924 and shared with GOLD for update.

[2021-06-09 00:14] jagadishcs commented on #53
@pvangay
Reviewed the biosamples of  ITS Proposal 505800 and shared for update in GOLD.

[2021-06-10 21:04] pvangay commented on #29
Sync's with @mslarae13 and @corilo to assess the EMSL data. Had some difficulty finding it in NEXUS - requested additional info on the metaB type. Currently had a few questions for Reb. waiting on her to get back to us so they can find the data.

Also sent email to @jagadishcs to review metadata in GOLD - he will update here when he's finished.

[2021-06-10 21:11] elishawc commented on #36
work left - polish up the slide deck, work with @mslarae13 to build out a virtual activity based on the templates and data in system, schedule another call for end of June (with Kayd's help) for final review and practice run.

[2021-06-10 21:13] elishawc commented on #36
Finally - MIxS v6 is expected to be formally announced in July, with NCBI SRA and EBI ENA submission supported by the end of 2021.

[2021-06-10 21:17] #36 closed

[2021-06-11 20:48] ssarrafan commented on #69
Julia hasn't accepted invite from GitHub. Sent her another invite and sent her note in Slack. Will keep assigned to myself for now.

[2021-06-11 21:03] pvangay commented on #69
Ah thanks Set. I know she's out of the office this week but hopefully will
respond and get this taken care of next week.
--
Pajau Vangay, PhD (she/her)
Scientific Community Engagement Manager
National Microbiome Data Collaborative
Lawrence Berkeley National Laboratory
@microbiomedata <https://twitter.com/microbiomedata?lang=en> |
microbiomedata.org

On Fri, Jun 11, 2021 at 1:48 PM ssarrafan ***@**

[2021-06-14 21:56] jkelliher-github commented on #69
Thanks Set for troubleshooting and figuring this out with me today! Everything should be all set now.

Julia

________________________________
From: pvangay ***@***.***>
Sent: Friday, June 11, 2021 3:03 PM
To: microbiomedata/NMDC_Planning
Cc: Kelliher, Julia Mae; Manual
Subject: [EXTERNAL] Re: [microbiomedata/NMDC_Planning] Expanded training materials for workflows and portal navigation (#69)

Ah

[2021-06-15 17:20] ssarrafan commented on #33
@emileyfadrosh reported that the brainstorming meeting is scheduled.  Also asked to rename this issue as one to develop instead of finalize the plan.

[2021-06-16 19:47] mar-rudolph commented on #61
Final draft is complete, handed to @pvangay to post on website.

[2021-06-16 19:48] mar-rudolph commented on #61
AAAS Section Proposal[https://docs.google.com/document/d/1d7l9amCXa-SfIA-nfV8kZIZEaixR8f-kXESeVoa0JUY/edit](url)

[2021-06-16 19:49] mar-rudolph commented on #80
All speakers confirmed, one final review from Mary Maxon

[2021-06-16 19:52] mar-rudolph commented on #62
[NMDC IDEA Strategy](https://docs.google.com/document/d/1uHvQCP3q_1jgKeRDRnxIGRSoFzDSsCOdk9fTHZzm-5o/edit) draft complete, handed to working group for feedback. Aim to include in June newsletter

[2021-06-17 17:16] pvangay commented on #29
Update from @dehays that metadata for this project will be included in GOLD export.

Blocked - waiting on collaborator to help with sorting out metaB data.

[2021-06-22 02:12] mslarae13 commented on #66
Emailed the SPRUCE SFA team. Will schedule a meeting to go over the metadata temlate

[2021-06-22 18:53] mar-rudolph opened #81 "NMDC Explainer Video"

[2021-06-22 22:54] mslarae13 commented on #45
@pvangay  Looks like this SFA project is a no for now? Am I understanding the above comment correctly... I should send them our metadata template for their reference & request they let me know when more data is available?

[2021-06-22 23:50] mslarae13 commented on #68
Email sent requesting meeting to fill out metadata

[2021-06-22 23:50] mslarae13 commented on #67
Email sent requesting meeting to fill out metadata information

[2021-06-23 17:45] mar-rudolph commented on #41
@ssarrafan Emiley and I discussed and are de-prioritizing this. No longer a part of this sprint.

[2021-06-23 18:54] pvangay commented on #51
Emailed PIs with link to template. Suggested following up with us again when they have data ready.

[2021-06-23 18:54] #51 closed

[2021-06-23 18:55] pvangay commented on #48
Emailed PIs with link to template. Suggested following up with us again when they have data ready.

[2021-06-23 18:55] #48 closed

[2021-06-23 18:55] pvangay commented on #45
Emailed PIs with link to template. Suggested following up with us again when they have data ready.

[2021-06-23 18:55] #45 closed

[2021-06-23 18:59] ssarrafan commented on #41
@mar-rudolph thanks for letting me know. I've removed it from the June sprint.

[2021-06-23 19:37] pvangay commented on #44
Per conversation with @emileyfadrosh, we'll reconnect with this SFA when they have data available.

[2021-06-23 19:37] #44 closed

[2021-06-23 19:41] pvangay commented on #73
Finalists selected and notified. Non-selected emails have been sent out. Will not announce cohort until July. Continuing to plan and schedule kick-off meeting and trainings in July.

[2021-06-23 20:53] mar-rudolph commented on #60
Initial draft of [metrics](https://docs.google.com/spreadsheets/d/1NEl8RuKffuvUm_Q4MLYcYMqSEDgkW15f2eyHttJfhlc/edit#gid=0) done. Will use an NMDC Sync in July to assign tracking duties and get the whole team on the same page.

[2021-06-23 20:53] #60 closed

[2021-06-23 20:54] mar-rudolph commented on #80
Application was submitted, will hear back in August.

[2021-06-23 20:54] #80 closed

[2021-06-23 20:55] mar-rudolph commented on #58
Published [here ](https://dmptool.org/plans?plan%5Bfunder%5D%5Bid%5D=%7B+%22id%22%3A+4265%2C+%22name%22%3A+%22National+Microbiome+Data+Collaborative%22+%7D&plan%5Borg%5D%5Bid%5D=%7B+%22id%22%3A+4265%2C+%22name%22%3A+%22National+Microbiome+Data+Collaborative%22+%7D&plan%5Btemplate_id%5D=1321), next steps to organize a webinar with Maria

[2021-06-23 20:55] #58 closed

[2021-06-25 01:53] pvangay commented on #37
Added a LOS request form
Added links to 1-slide and 9-slide presentation templates, 2 recorded youtube videos, and a fact sheet under /Resources
Added Marisa's DMP

[2021-06-25 01:53] #37 closed

[2021-06-25 15:06] mar-rudolph commented on #61
[Posted on website](https://microbiomedata.org/data-management/) for June release, next month will do some we design to make it more readable

[2021-06-25 15:06] #61 closed

[2021-06-25 15:40] hubin-keio commented on #78
Ran out of space of database tmp directory. The tmp directory has now been moved to a new location and we are waiting for test results.

[2021-06-25 15:46] hubin-keio commented on #79
We have tested out the resources and purchased additional 3TB storage. The current available resources seem enough for beta-testing and some early adopters.

[2021-06-25 15:52] hubin-keio commented on #78
Deploy are largely done. The remaining issues, which will fall to next Sprint include:

1. Deploy HTCondor to increase the efficiency in utilizing SDSC HPC resources;
2. Resolve a version conflict in MG_annotation workflow which caused a missing JSON file error;
3. Test the entire application again with the database tmp directory moved to its new location.

[2021-06-28 20:03] pvangay commented on #28
Data highlights have all been drafted. Some of the content will be incorporated into the study landing pages with the metadata updates. James Stegen's highlight was planned for June newsletter but is dependent on his metadata updates being made.

[2021-06-28 20:03] pvangay commented on #73
Cohort has been finalized, and all have accepted. All meetings and trainings for the summer have been scheduled!

[2021-06-28 20:04] #73 closed

[2021-06-28 20:10] mslarae13 commented on #66
Meeting to go over metadata template & entry scheduled for July 1st. Moving to July sprint

Once metadata is received, I think we can close this issue and create follow on issue & tasks.

[2021-06-28 20:52] ssarrafan commented on #29
Moved from June Sprint to July Sprint per Pajau's request

[2021-06-28 20:52] ssarrafan commented on #34
Moved from June Sprint to July Sprint per Pajau's request

[2021-06-29 15:45] emileyfadrosh commented on #71
submitted!

[2021-06-29 15:45] #71 closed

[2021-06-29 22:26] ssarrafan commented on #56
@Lebedeva-Sonya can this issue to be closed by tomorrow?
@pvangay is this a priority for July?

[2021-06-29 22:39] pvangay commented on #56
Definitely can't be closed by tomorrow. Yes, this is a priority for July. Thanks @ssarrafan !

[2021-06-30 16:20] pvangay commented on #68
GOLD curation should be done. Reassigned to Montana to work with PIs.

[2021-06-30 16:21] pvangay commented on #65
GOLD curation should be done. Reassigned to Montana to work with PIs.

[2021-06-30 16:22] pvangay commented on #67
Some of this data is in SRA. Reddy and Jagadish recommended that we move forward with getting metadata from the PIs and then take care of GOLD updates/curation afterwards. Reassigned to Montana to work with PIs. Montana has already scheduled a meeting with them (TES SFA and Watershed SFA will meet together).

[2021-06-30 16:23] pvangay commented on #63
Some of this data is in SRA. Reddy and Jagadish recommended that we move forward with getting metadata from the PIs and then take care of GOLD updates/curation afterwards. Reassigned to Montana to work with PIs. Montana has already reached out to them.

[2021-06-30 19:25] ssarrafan commented on #78
Moving to July for the remaining work noted above by @hubin-keio

[2021-06-30 19:50] ssarrafan commented on #62
Congrats @mar-rudolph. Is it ok to close this issue?  I realize there will always be updates and refinements but for tracking purposes can we consider this done?

[2021-06-30 19:53] #62 closed

[2021-06-30 19:54] mar-rudolph commented on #62
Final draft complete, next step: implementation!

[2021-06-30 20:53] ssarrafan commented on #69
Checked with @jkelliher-github and closing this issue. Julia will add links to the materials to this issue.

[2021-06-30 20:53] #69 closed

[2021-06-30 20:59] jkelliher-github commented on #69
https://docs.google.com/document/d/1Jyo-7z6taDHkltVrFPNyTEKlwLM7HyVm/edit
https://docs.google.com/spreadsheets/d/1fxiMX-3bXI6NTnw8CAgBvttz75YSCWRg8Kw5-ILtWwE/edit?pli=1#gid=0
https://drive.google.com/drive/folders/1z0v1Xs4LNzwqsYKKJhwOpYTtulJmgACL

[2021-06-30 21:56] ssarrafan commented on #74
Adding backlog label so it can be prioritized for a different sprint.
@dehays @emileyfadrosh

[2021-06-30 22:42] ssarrafan commented on #55
Adding backlog label so it can be reprioritized.
@pvangay
@Lebedeva-Sonya

[2021-06-30 22:44] ssarrafan commented on #72
Adding backlog label to be reprioritized

[2021-06-30 22:46] ssarrafan commented on #30
Adding backlog label. Will need to be reprioritized.
@kfagnan
@pvangay
@lamccue

[2021-06-30 22:48] ssarrafan commented on #16
Moving to July sprint because it's still a priority.
@kfagnan
@dwinston

[2021-07-01 04:30] emileyfadrosh commented on #33
Held first brainstorming meeting on the 25th to identify strategic objectives. Will continue to develop in subsequent engagement strategy meetings and with leadership team.

[2021-07-01 04:30] #33 closed

[2021-07-01 04:48] emileyfadrosh commented on #77
Discussed at past two leadership team meetings, and have initial objectives outlined.

[2021-07-01 04:48] #77 closed

[2021-07-01 04:51] emileyfadrosh commented on #70
Follow up with NEON team for timeline, should probably move this to July sprint. @ssarrafan

[2021-07-01 16:13] ssarrafan opened #82 "NAR Database manuscript - share draft with team by 7/30"

[2021-07-01 16:13] ssarrafan opened #83 "Links to other resources (NCBI, ESS-DIVE, IMG, JGI Data Portal)"

[2021-07-01 16:14] ssarrafan opened #84 "Process for metrics tracking"
Process for metrics tracking finalized, updated
More details at https://docs.google.com/spreadsheets/d/1NEl8RuKffuvUm_Q4MLYcYMqSEDgkW15f2eyHttJfhlc/edit#gid=0

[2021-07-01 16:15] ssarrafan opened #85 "DOE Quarterly Update 7/19/21"
Prep for the DOE Quarterly meeting

[2021-07-01 21:50] mar-rudolph opened #86 "Organize & Host DMP Webinar with DMPTool Team"

[2021-07-01 21:51] mar-rudolph opened #87 "TriP + DMP Collaboration"

[2021-07-01 21:52] mar-rudolph opened #88 "Handbook for publication reviewers on microbiome data best practices"

[2021-07-01 21:53] mar-rudolph opened #89 "NMDC Data Management Plan"

[2021-07-01 21:54] mar-rudolph opened #90 "Iterate on DMP Best Practices & DMPTool based on Ambassador & TriP feedback"

[2021-07-06 18:53] #79 closed

[2021-07-13 22:00] ssarrafan commented on #28
Note per Pajau:  Moved some of this content to the study landing pages already. It’d still be great to get the “testimonials” but today in the engagement sync we talked about how maybe that can be incorporated into the videos Marisa and Julia are working on. basically, i think that the science stories should just get incorporated into the study pages so we can close this GH issue.

[2021-07-13 22:00] #28 closed

[2021-07-13 23:36] pvangay opened #91 "Ambassadors planning & comms"
Prep, plan, coordinate the training events:
- [ ] 7/14 NMDC & DMP training
- [ ] 7/21 NMDC metadata training
- [ ] August trainings

Communication
- [ ] Create dedicated pages
- [ ] Announce Ambassadors formally

[2021-07-16 01:47] mslarae13 commented on #64
Met with JP and Jeff 07/15 to go over the metadata spreadsheet.
Successful & they will begin filling it out & contacting us with issues or questions.

[2021-07-16 20:05] ssarrafan commented on #68
@pvangay said to close this issue since after meeting with them there is no data to work with right now.  Closing issue per mid-sprint review.

[2021-07-16 20:05] #68 closed

[2021-07-16 20:22] ssarrafan commented on #56
@Lebedeva-Sonya and @pvangay

We had our mid-sprint review today so I'm checking in with folks who have issues for this sprint to see if you need help with anything, are blocked by anything or have any concerns about completing your issue by the end of July.  Let me know if there are any concerns.

[2021-07-16 20:24] ssarrafan commented on #16
@kfagnan @dwinston I'm moving this to the August sprint since Kjiersten is gone till August. If there's anyone else who can move this forward please let me know.
@dehays any suggestions on who else can follow up on this in Kjiersten's absence?

[2021-07-16 20:24] pvangay commented on #56
@ssarrafan please move all of Sonya's tasks to August.

[2021-07-19 17:50] ssarrafan commented on #29
_Morning! could we move this one to the backlog?
I just realized that this one has to do with getting more data into the system. and Reb had asked whether we could revisit it after the summer because theyre just swamped with fieldwork at the moment._

Note from Pajau. Moving to backlog.

[2021-07-21 03:38] emileyfadrosh commented on #85
Presented update yesterday!

[2021-07-21 03:38] #85 closed

[2021-07-23 18:14] ssarrafan commented on #74
Adding back to sprint per discussion with David today.

[2021-07-23 22:24] ssarrafan commented on #70
Moving to backlog for now and removing from this sprint per Slack check with @emileyfadrosh

[2021-07-23 22:25] ssarrafan commented on #83
Moving to August sprint per slack check with @emileyfadrosh

[2021-07-26 19:09] ssarrafan commented on #84
@mar-rudolph and I met today and the next steps for this will be:

- [ ] Meet with Kjiersten (8/2) on the technical metrics
- [ ] Follow up with tech sync as needed
- [ ] Get ideas from presentations from the JAWS team on monitoring and dashboards at tech syncs
- [ ] Make a decision about CRM

Moving this to the August sprint.

[2021-07-27 20:56] mar-rudolph commented on #86
Have met with Maria from DMPTool, planning on doing the Webinar in October focused on DOE microbiome research.

[2021-07-27 20:56] #86 closed

[2021-07-28 19:30] mslarae13 commented on #66
Metadata template was sent when we met with the team.

07/28 : I sent a follow up email asking how the metadata was going and if they had any questions.

[2021-07-28 19:41] mslarae13 commented on #64
07/28: Emailed asking how metadata was going & if they had any questions

[2021-07-29 21:41] mar-rudolph commented on #81
Storyboard created [here](https://app.milanote.com/1LVJ7w1kzEmTaa/nmdc-training?p=75BFoFmToh8) and rough draft of a script started [here](https://docs.google.com/document/d/1S9gok7ycL9YZ0rBU70yq0tYcGALBaTAjGqBCUWgBRso/edit). Currently waiting on clarity surrounding the way we discuss NMDC in the pilot stage before proceeding. Will move to August sprint.

[2021-07-29 21:41] #81 closed

[2021-07-29 21:44] mar-rudolph commented on #87
Have met with Maria multiple times to [clarify current state of DMPID tool](https://docs.google.com/document/d/1gKP8rZG_ECDXgmhNQ6gmpTcPVctIF1gSSBNxS05GCCg/edit#heading=h.enbsu9tyfs3y) and nature of the collaboration. Developed an outline for next steps and outreach. Will move to August sprint.

[2021-07-29 21:44] #87 closed

[2021-07-29 21:45] mar-rudolph commented on #90
No ambassador feedback thus far, will move this as a sub point to TriP collaboration in August Sprint

[2021-07-29 21:45] #90 closed

[2021-07-29 21:50] mar-rudolph opened #93 "Newsletter editing, design, & sending"

[2021-07-29 21:52] mar-rudolph commented on #93
Sent, next month will work on improving on design and trouble shooting subscribers receiving the newsletter

[2021-07-29 21:52] #93 closed